.profile-big-name{
    width: 100px; /* Ajusta el ancho según sea necesario */
    height: 100px; /* Ajusta la altura según sea necesario */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px; /* Tamaño de fuente ajustado para la inicial */
    border-radius: 50%; 
  }
  
  .profile-big-name {
    background-color: #EA526F; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto */
    border: none; /* Eliminar el borde */
  }
  
  .profile-big-name:hover {
    background-color: #ffffff; /* Color de fondo en hover */
    color: #040926; /* Color del texto en hover */
  }

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.edit-icon {
  position: absolute;
  bottom: 20px; /* Ajusta la posición vertical */
  right: 10px; /* Ajusta la posición horizontal */
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
  padding: 5px;
  font-size: 20px;
  border-radius: 50%;
  opacity: 0; /* Oculto por defecto */
  transition: opacity 0.3s ease; /* Transición suave para el hover */
}

/* Mostrar el icono en hover */
.profile-image-container:hover .edit-icon {
  opacity: 1; /* Aparece en hover */
}

