/* .form-container {
    max-width: 700px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-container h2 {
    margin-bottom: 20px;
  } */
  .login-form
  {
    min-width: 50%;
  }

  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  .icon {
    margin-right: 10px;
  }
  
  .input-group input {
    width: 100%;
    border: none;
    outline: none;
  }

  
  hr {
    margin: 20px 0;
  }
  
  .alternative-login p {
    margin-bottom: 10px;
  }
  
  .alternative-login button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
  }
  
  .google-btn {
    color: #4285f4;
  }
  
  .microsoft-btn {
    color: #00a4ef;
  }
  
  .apple-btn {
    color: #000000;
  }

.divider-container {

  align-items: center;
  justify-content: center;

}

.divider-line {
    border: none;
    border-top: 1px solid black;
    width: 40%;
    /* Ajusta el ancho de las líneas según sea necesario */
}

.divider-text {
    font-size: 12px;
    color: black;
   
    white-space: nowrap; /* Evita que el texto se rompa en varias líneas */
    padding: 0 10px; /* Espacio alrededor del texto para hacerlo más visible */
}

.links{
  color: black; 
  font-size: 15px;
}
.links:hover{
  color: #FF8A5B;
}
.btn-custom{
  font-family: "Montserrat", sans-serif;
}
  