.rounded-icon {
    border-radius: 50%;
    object-fit: cover;
}

.rounded-icon.perdido {
    border: 2px solid red;
}

.rounded-icon.encontrado {
    border: 2px solid green;
}

body{
    font-family: "Montserrat", sans-serif;
}

#map {
    height: 300px; /* Asegúrate de que el contenedor tenga un tamaño fijo */
    width: 100%; /* Asegúrate de que el mapa ocupe el espacio disponible */
  }