
#contformagregar{
    width: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.rounded-icon {
    border-radius: 50%;
    object-fit: cover;
}

.rounded-icon.perdido {
    border: 2px solid red;
}

.rounded-icon.encontrado {
    border: 2px solid green;
}

body{
    font-family: 'Poppins', sans-serif;
}