.card-text {
    font-size: small;
    white-space: nowrap; /* No permite el salto de línea */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra "..." al final del texto que se desborda */
    max-width: 100%; /* Asegura que el texto no se extienda fuera del contenedor */
}
.card-title {
    white-space: nowrap; /* No permite el salto de línea */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra "..." al final del texto que se desborda */
    max-width: 100%; /* Asegura que el texto no se extienda fuera del contenedor */
}