.badge-PERDIDO {
    background-color: #ff6325;
    color: white;
}

.badge-ENCONTRADO {
    background-color: #EA526F;
    color: white;
}

.badge-ADOPCION {
    background-color: #466d9f;
    color: white;
}

.badge-REUNIDO {
    background-color: rgb(61, 249, 96);
    color: white;
}