/* .card-text {
    font-size: small;
    white-space: nowrap; /* No permite el salto de línea */
    /* overflow: hidden; Oculta el texto que se desborda */
    /* text-overflow: ellipsis; Muestra "..." al final del texto que se desborda */
    /* max-width: 100%; Asegura que el texto no se extienda fuera del contenedor */
    /* font-family:"Montserrat", sans-serif; */
/* } */
/* .card-title { */
    /* white-space: nowrap; No permite el salto de línea */
    /* overflow: hidden; Oculta el texto que se desborda */
    /* text-overflow: ellipsis; Muestra "..." al final del texto que se desborda */
    /* max-width: 100%; Asegura que el texto no se extienda fuera del contenedor */
/* } */ 

#card-mascota {
    width: 300px; /* Tamaño fijo para todas las cards */
    height: 200px; /* Altura fija para todas las cards */
    position: relative;
    overflow: hidden;
    border: none; /* Sin bordes adicionales */
    transition: transform 1s;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute; /* Asegura que la imagen se ajuste dentro del contenedor */
    top: 0;
    left: 0;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra completamente el contenedor sin distorsión */
    filter: brightness(90%); /* Aumenta el brillo de la imagen */
    
}
#card-mascota:hover{
    transform: translateZ(15px);
}

.card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent); /* Sombra más oscura y pronunciada */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
}

.card-title, .card-text {
    margin: 0;
}

.badge-PERDIDO {
    background-color: #ff6325;
    color: white;
}

.badge-ENCONTRADO {
    background-color: #EA526F;
    color: white;
}

.badge-ADOPCION {
    background-color: #466d9f;
    color: white;
}

.badge-REUNIDO {
    background: green !important;
    color: white;
}

.badge-overlay {
    position: absolute;
    top: 10px; /* Ajusta para la posición vertical */
    left: 10px; /* Ajusta para la posición horizontal */
    right: 10px; /* Alinea los elementos a la derecha */
    z-index: 1; /* Asegura que el badge esté por encima de la imagen */
    display: flex; /* Flexbox para posicionar elementos horizontalmente */
    justify-content: space-between; /* Espacio entre badge y fecha */
    align-items: center;
}

.badge {
    padding: 5px 10px;
    font-size: 0.75rem;
    border-radius: 5px;
    color: white;
}

.fecha {
    color: white; /* Texto blanco */
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1); /* Sombra alrededor del texto */
    margin-left: auto; /* Empuja la fecha al lado derecho */
}

.card-text small{
    color: white; /* Color del texto de la fecha */
    white-space: nowrap; /* No permite el salto de línea */
    overflow: hidden; /*Oculta el texto que se desborda */
    text-overflow: ellipsis; /*Muestra "..." al final del texto que se desborda*/
    white-space: nowrap; /* No permite el salto de línea */
    max-width: 100%; /* Asegura que el texto no se extienda fuera del contenedor */
}

.card-text-localidad {
    font-size: 0.8rem; /* Ajusta el tamaño del texto para que sea más pequeño */
    text-transform: capitalize; /* Transforma la primera letra de cada palabra a mayúscula */
    margin: 0; /* Remueve márgenes adicionales */
    color: white;  /* Asegura que el texto sea visible sobre el fondo */
}

