.card-text {
    font-size: small;
    white-space: nowrap; /* No permite el salto de línea */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra "..." al final del texto que se desborda */
    max-width: 100%; /* Asegura que el texto no se extienda fuera del contenedor */
}
.card-title {
    white-space: nowrap; /* No permite el salto de línea */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra "..." al final del texto que se desborda */
    max-width: 100%; /* Asegura que el texto no se extienda fuera del contenedor */
}

.badge-PERDIDO {
    background-color: #ff6325;
    color: white;
}

.badge-ENCONTRADO {
    background-color: #EA526F;
    color: white;
}

.badge-ADOPCION {
    background-color: #466d9f;
    color: white;
}

.badge-REUNIDO {
    background-color: rgb(61, 249, 96);
    color: white;
}